.contact-section {
    position: relative;
}

.contact-section::before {
    content: '';
    height: 100%;
    width: 100%;
    background-image: url('../images/bg-contact.jpeg');
    background-size: cover;
    background-position: center center;
    position: absolute;
    filter: brightness(0.3);
    z-index: -1;

}

.filter {
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
}

.filter select {
    margin-top: 5px;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 30px;
    font-size: 16px;
    outline: none;

}

.contact-section div h1 {

    -webkit-text-stroke: 2px #00DBFF;
    color:rgb(0, 0, 0,0)!important;
    font-size: 3rem;

}